[profile.default]
src = "src"
out = "out"
libs = ["lib"]

solc_version = "0.8.26"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
optimism = "https://mainnet.optimism.io"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

